.logout-button{
  position: absolute;
  top: 2vh;
  right: 7vh;
  font-size: 15px;
}

.trading-button{
  position: absolute;
  top: 2.5vh;
  right: 15vh;
  font-size: 15px;
}

.home-button{
  margin-left: 2%;
}
