<p class="successful" *ngIf="isSuccessful">Congrulations! You have successfully changed your password!</p>
<p class="failure" *ngIf="isFailure">Unfortunately there was a problem when changing your password, please try again later!</p>
<div class="form-container mat-elevation-z5 text-center"
     style="width: 30%; margin-left: 35%;margin-top: 10% ;display: block; border-radius: 15px;height: 250px;
     background-color: #efecec">
<form
  [formGroup]="changePasswordForm"
  (ngSubmit)="onSubmit()">
  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 60%;margin:auto;display: block">
      <input matInput
             type="password"
             formControlName="newPassword"
             placeholder="Enter your new password">
    </mat-form-field>
  </div>
  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 60%;margin:auto;display: block">
      <input matInput
             type="password"
             formControlName="confirmedPassword"
             placeholder="Confirm your new password">
    </mat-form-field>
  </div>
  <button [disabled]="changePasswordForm.get('newPassword')==changePasswordForm.get('confirmedPassword')" type="submit" style="margin:auto;display: block" mat-raised-button color="primary">Send</button>
  &nbsp;
  <a href="/login'">Navigate to login</a>
</form>
</div>
