<form
  [formGroup]="changePassword"
  (ngSubmit)="onSubmit()">
  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 90%;margin:auto;display: block">
      <input matInput
             type="password"
             formControlName="password"
             placeholder="Please introduce your new password">
    </mat-form-field>
  </div>

  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 90%;margin:auto;display: block">
      <input matInput
             type="password"
             formControlName="confirmedPassword"
             placeholder="Please introduce again your new password">
    </mat-form-field>
  </div>
  <button type="submit" style="margin:auto;display: block" mat-raised-button color="primary">Change my password</button>

</form>
