&nbsp;
&nbsp;
<div>
  <h1>Forgot Password</h1>
</div>
&nbsp;
&nbsp;
<p class="successful" *ngIf="isSuccessful">We have sent a reset password link to your email. Please check.</p>
<p class="failure" *ngIf="isFailure">Error while sending email. Please make sure you have entered the right email address.</p>
<div class="form-container mat-elevation-z5 text-center"
     style="width: 30%; margin-left: 35%;margin-top: 10% ;display: block; border-radius: 15px;height: 250px;
     background-color: #efecec">
  &nbsp;
  &nbsp;
  <div>
    <p>We will be sending a reset password link to your email.</p>
  </div>
<form
  [formGroup]="resetPasswordForm"
  (ngSubmit)="onSubmit()">
  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 60%;margin:auto;display: block">
      <input matInput
             type="email"
             formControlName="email"
             placeholder="Please introduce your email address">
    </mat-form-field>
  </div>
  <button [disabled]="resetPasswordForm.get('email')!.invalid || !resetPasswordForm.get('email')!.dirty" type="submit" style="margin:auto;display: block" mat-raised-button color="primary">Send</button>
  &nbsp;
  <a href="/login'">Return to login</a>
</form>
</div>
