p{
  margin: auto;
  display: block;
  text-align: center;
  font-family: 'Bahnschrift', sans-serif;
}

h1{
  margin: auto;
  display: block;
  text-align: center;
  font-family: 'Bahnschrift', sans-serif;
}

.failure{
  color: red;
}

.successful{
  color: goldenrod;
}
