<form [formGroup]="userDetailsForm">
  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 30%;margin:auto;display: block">
      <input matInput
             formControlName="userId"
             [readonly]="true"
             placeholder="User id"
             [required]="false">
    </mat-form-field>
  </div>

  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 30%;margin:auto;display: block">
      <input matInput
             formControlName="email"
             [readonly]="true"
             placeholder="Email"
             [required]="false">
    </mat-form-field>
  </div>

  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 30%;margin:auto;display: block">
      <input matInput
             formControlName="firstName"
             [readonly]="true"
             placeholder="First name"
             [required]="false">
    </mat-form-field>
  </div>

  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 30%;margin:auto;display: block">
      <input matInput
             formControlName="lastName"
             [readonly]="true"
             placeholder="Last name"
             [required]="false">
    </mat-form-field>
  </div>

  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 30%;margin:auto;display: block">
      <input matInput
             formControlName="phoneNumber"
             [readonly]="true"
             placeholder="Phone number"
             [required]="false">
    </mat-form-field>
  </div>

  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 30%;margin:auto;display: block">
      <input matInput
             formControlName="gender"
             [readonly]="true"
             placeholder="Gender"
             [required]="false">
    </mat-form-field>
  </div>

  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 30%;margin:auto;display: block">
      <input matInput
             formControlName="address"
             [readonly]="true"
             placeholder="Address"
             [required]="false">
    </mat-form-field>
  </div>

  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 30%;margin:auto;display: block">
      <input matInput
             formControlName="nationality"
             [readonly]="true"
             placeholder="Nationality"
             [required]="false">
    </mat-form-field>
  </div>

  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 30%;margin:auto;display: block">
      <input matInput
             formControlName="birthDate"
             [readonly]="true"
             placeholder="Birth date"
             [required]="false">
    </mat-form-field>
  </div>

  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 30%;margin:auto;display: block">
      <input matInput
             formControlName="iban"
             [readonly]="true"
             placeholder="Iban"
             [required]="false">
    </mat-form-field>
  </div>

  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 30%;margin:auto;display: block">
      <input matInput
             formControlName="familySituation"
             [readonly]="true"
             placeholder="Family situation"
             [required]="false">
    </mat-form-field>
  </div>

  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 30%;margin:auto;display: block">
      <input matInput
             formControlName="occupation"
             [readonly]="true"
             placeholder="Occupation"
             [required]="false">
    </mat-form-field>
  </div>

  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 30%;margin:auto;display: block">
      <input matInput
             formControlName="employmentStartDate"
             [readonly]="true"
             placeholder="Employment start date"
             [required]="false">
    </mat-form-field>
  </div>

  <div class="row">
    &nbsp;
    &nbsp;
    <mat-form-field style="width: 30%;margin:auto;display: block">
      <input matInput
             formControlName="monthlyIncome"
             [readonly]="true"
             placeholder="Monthly Income"
             [required]="false">
    </mat-form-field>
  </div>
</form>
